*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

/* PARTE SUPERIORE */
h1{
    text-align: center;
    color: white;
    padding: 20px 0;
    
}
section{
    width: 70%;
    /* height: 150px; */
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}
.first-card > .upper-card{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
}
.first-card h4{
    margin-bottom: 15px;
    color: darkcyan;
}
input, select{
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 5px;
    border-color: darkcyan;
}

.first-card > .bottom-card{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.first-card > .bottom-card > button{
    margin-right: 20px;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: darkcyan;
}

/* PARTE INFERIORE */
#invisible-container{
    display: none;
}
.container:last-of-type section{
    border-radius: 0px;
}

.second-card{
    padding: 30px 20px;
}
.second-card > .ticket{
    border: 1px solid grey;
    border-right: none;
    display: flex;
}
.second-card > .ticket > .passenger-name{
    padding: 20px;
    background-color: grey;
    width: 32%;
}
.second-card > .ticket > .ticket-details{
    padding: 20px;
    text-align: left;
}
.second-card > .ticket > .ticket-details table{
      
}
.second-card > .ticket > .ticket-details table td, table th {
    padding: 0 20px;
}
.second-card > .ticket > .ticket-details table th {
    padding-bottom: 40px;
}
